@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
  width: 80%;/**/
  border: 20px solid #bdc3c7;/*body border, thickness and color*/
  font-family: 'Source Sans Pro', sans-serif;/*custom imported font*/
  padding: 20px;/*padding on the sides*/
  margin: 20px auto;/*auto  sets to the center*/
  max-width: 700px;/*stays at 700 until 80% is less than 700px*/
}
/*for post class*/
.post {
  margin-bottom: 20px;
}
/*for date class*/
.date {
  color: #3498db;/*change color of date class*/
  letter-spacing: 0.2rem;/*changespacing*/
  text-transform: uppercase;/*text in upper case*/
}
/*for quote class*/
.quote{
  border-left: 5px solid #bdc3c7;/*quote left border with padding*/
  padding-left: 5px;
}
/*header 2*/
h2 {
  font-size: 2.0rem;/*rem are set by root element on the page*/
  font-weight: bold;
  color: #2c3e50;
}
/*horizontal rule*/
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}